*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    letter-spacing: .1em;
}

body {
    margin: 0;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p {
    margin: 0;
    line-height: .9;
}

h1 {
    margin-bottom: 2em;
    font-size: 2rem;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.hidden,
.hidden--mid-scr {
    display: none;
}

ul {
    padding: 0;
}

.nav__link,
.footer__link,
.read,
.home-logo,
.btn,
.course__link {
    text-decoration: none;
    cursor: pointer;  
}

.footer__link,
.nav__link,
.course__link {
    color: black;
}

.footer__link:focus,
.footer__link:hover,
.nav__link:focus,
.nav__link:hover,
.course__link:focus,
.course__link:hover,
.btn-wrapper:focus,
.btn-wrapper:hover {
    opacity: .75; 
}

.footer__link:hover,
.nav__link:hover {
    color:rgb(114, 46, 46);
    font-weight: 700;
}

.nav__item,
.footer__item {
    list-style: none;
}

.info-title {
    margin: 1em 0;
    font-size: 2rem;
}

.section-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 2rem;
}

.hero,
.info,
.courses,
.thesis {
    max-width: 1500px;
    margin: 0 auto;
}

/* NAV BAR */

.d-flex--mobile {
    display: flex; 
    margin: .5em auto;
    padding: 0 1rem;
}

nav {
    height: 4em;
    padding-top: .7em;
}

.nav__list {
   align-items: first baseline;
   justify-content: space-between; 
}

/* HERO SECTION */

.hero {
    background-color: rgb(105, 151, 124);
    font-weight: 700;
}

.container--mobile {
    width: 100%;
}

.hero__text {
    width: 95%;
    margin: 0 auto;
    padding: 2em 0;
}

.hero__text p {
    margin-bottom: 1.5em;
}

.btn-wrapper {
    width: 100%;
    max-width: 576px;
    text-align: center;
    background-color: #746d6d;
    padding: .5em 0;
    margin-bottom: .5em;
    border-radius: 5px;
}

.btn {
    color:#fff;
}

/* INFO SECTION */

.info {
    padding: 1em 0;
}

.info p,
.thesis p {
    font-size: .9rem;
    padding-top: .5em;
}

.mobile-img {
    margin-bottom: 1em;
    border-radius: 5px;
}

.card__text {
    padding-block: 1em;
}

.read {
    color:rgb(76, 158, 190);
    font-size: .7rem;
}

.read:hover,
.read--light:hover {
    font-size: 1rem;
}


/* COURSE SECTION */

.courses {
    padding-bottom: 1em;
}

.course__topic {
    background-color: rgb(105, 151, 124);
    max-width: 576px;
    margin-bottom: .5em;
    padding: 1rem;
    border-radius: 5px;
}

/* THESIS SECTION */

.thesis {
    padding-bottom: 1em;
}

/* FOOTER */

footer {
    font-size: .7rem;
    padding: 1em 0;
}

/* MEDIA QUERY */

@media (min-width:639px) {
    .hidden {
        display: revert;
    }

    .mobile-img {
        display: none;
    }

    .d-flex {
        display: flex;
    }

    .container--mobile {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }

    img,
    video,
    .btn-wrapper,
    .round-corners,
    .col {
        border-radius: 10px;
    }

    .read--light {
        color:rgb(200, 226, 236);
        font-size: .7rem;
    }

    .hero__img,
    .info__img,
    .thesis__video {
        width: 60%;
    }

    .hero__text,
    .aside {
        width: 40%;
        padding-left: 2.5%;
    }

    .hero,
    .info,
    .courses,
    .thesis {
        padding: 2rem 0;
    }

    .hero__text {
        padding-top: 0;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
     
    .btn-wrapper {
        max-width: 248px;
        background-color: rgb(26, 17, 17);
    }

    .btn-wrapper:active {
        box-shadow: 3px 3px 5px rgb(165, 177, 163);
    }

    .btn:hover {
        color: rgb(105, 151, 124)
    }
    
    .card {
        padding-left: 4%;
    }

    .info__img__p {
        padding-bottom: 2em;
    }

    .no-top-mid {
        padding-top: 0;
    }

    .add-top-mid {
        padding-top: 1em;
    }

    .background {
        background-color: rgb(105, 151, 124);
    }

    .courses {
        background-color: rgb(105, 151, 124);
    }

    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .col:hover {
        box-shadow: 10px 10px 5px rgb(165, 177, 163);
    } 

    .course__link:hover {
        font-weight: 700;
    }

    .frst-row {
        margin-bottom: 1em;
    }

    .col {
        background-color: #fff;
        width: 100%;
    }

    .col + .col {
        margin-left: 1rem;
    }

    .course__topic {
        background-color: #fff; 
        margin-bottom: 0;
    }

    .course__p {
        padding: 0 1rem;
        color:rgb(114, 46, 46);
        font-weight: 700;
    }

    .course__list {
        padding: 1rem;
    }

    .title_under_video {
        padding: 1em 0;
    }

    .push--right {
        margin-right: auto;
    }

    .footer__item + .footer__item {
        margin-left: 2%;
    }
}

@media (min-width:850px) {
    .icon {
        display: none;
    }

    .hidden--mid-scr {
        display: revert;   
    }

    .nav__list {
        align-items: center;
        padding-left: 0;
    }

    .brand_name {
        text-transform: uppercase;
    }

    .bold_letters {
        font-weight: 700;
    } 

    .nav__item__logo {
        align-items: center;
    }

    .push--right-bg {
        margin-right: auto;
    }

    .nav__item + .nav__item {
        margin-left: 1.5rem;
    }

    .hero__text,
    .aside {
        width: 40%;
        padding-left: 5%;
    }

    .info {
        padding-block: 0;
    }

    .info__img {
        padding-block: 2em;
    }

    .add-top {
        padding-top: 2em;
    }

    .card {
        padding: 1em 1rem 1em;
        align-items: center;
    }

    .no-top {
        padding-top: 0;
    }

    .no-bottom {
        padding-bottom: 0;
    }

    .card__img {
        width: 35%;
    }

    .card__text {
        width: 65%;
        padding-left: 5%;
    }

    .add-top-mid {
        padding-top: 0;
    }

    .border-bottom {
        border-bottom: 1px solid rgb(105, 151, 124);
    }

    .border-top {
        border-top: 1px solid rgb(105, 151, 124);
    }
}
